COMPOSE_PROJECT_NAME=innovation-vision-ia
TZ=America/Sao_Paulo

POSTGRES_DB=vision
POSTGRES_USER=vision
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES

MINIO_ROOT_USER=visionminio
MINIO_ROOT_PASSWORD=CHANGE_ME_MINIO

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_GRAFANA

VISION_API_PORT=8080
VISION_CLIENT_PORT=8081

REDIS_MAXMEMORY=2gb
REDIS_MAXMEMORY_POLICY=allkeys-lru
